/*Theme Light*/

.bg_dark_blue {
  background-color: #052453;
}
.bg_dark_solid {
  background-color: #272727;
}


.bg_animated {
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  /*background: linear-gradient(-45deg, #1998b4, #31CCEC, #03a2c6, #31CCEC);*/
  background: linear-gradient(-45deg, #03b19c, #31CCEC, #f6d321, #ec7931);
  /*background: linear-gradient(-45deg, #db4f98, #893ce7, #9931cd, #7457c2, #893ce7, #9931cd, #7457c2);*/
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  /*height: 100vh;*/
}

.bg_animated_mobile {
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  /*background: linear-gradient(-45deg, #1998b4, #31CCEC, #03a2c6, #31CCEC);*/
  background: linear-gradient(-45deg, #03b19c, #31CCEC, #31CCEC, #f6d321, #f6d321, #ec7931);
  /*background: linear-gradient(-45deg, #db4f98, #893ce7, #9931cd, #7457c2, #893ce7, #9931cd, #7457c2);*/
  background-size: 700% 700%;
  animation: gradient 10s ease infinite;
  /*height: 100vh;*/
}

.bg_animated_btn_mobile {
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  /*background: linear-gradient(-45deg, #1998b4, #31CCEC, #03a2c6, #31CCEC);*/
  background: linear-gradient(-45deg, #ec7931, #f6d321, #f6d321, #31CCEC, #31CCEC, #03b19c);
  /*background: linear-gradient(-45deg, #db4f98, #893ce7, #9931cd, #7457c2, #893ce7, #9931cd, #7457c2);*/
  background-size: 700% 700%;
  animation: gradient 10s ease infinite;
  /*height: 100vh;*/
}

.bg_animated_btn {
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  /*background: linear-gradient(-45deg, #1998b4, #31CCEC, #03a2c6, #31CCEC);*/
  background: linear-gradient(-45deg,  #ec7931, #f6d321, #31CCEC, #03b19c);
  /*background: linear-gradient(-45deg, #db4f98, #893ce7, #9931cd, #7457c2, #893ce7, #9931cd, #7457c2);*/
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  /*height: 100vh;*/
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.primary {
  color: #38b5aa;
}
.secondary {
  color: #b0bec5;
}
.xpto {
  background-color: #b0bec5!important;
}
.anchor {
  color: #4e8cff;
}
.receiver {
  color: #eaeaea;
}
.bg_dark_blue {
  background-color: #052453;
}
.bg_dark_solid {
  background-color: #272727;
}
.solid {
  color: #ffffff;
}
.wrap {
  color: #ffffff;
}
.badge {
  color: #a8a8a8;
}


/*Theme Dark*/
.primary-dark {
  color: #38b5aa;
}
.secondary-dark {
  color: #b0bec5;
}
.anchor-dark {
  color: #4e8cff;
}
.receiver-dark {
  color: #454545;
}
.dark_blue-dark {
  color: #052453;
}
.solid-dark {
  color: #272727;
}
.wrap-dark {
  color: #121212;
}
.badge-dark {
  color: #a8a8a8;
}
